<!DOCTYPE html>
<html>
  <head>
    <title>Airquq</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag 'airquq_logo.png' %>
    
    <script type="text/javascript">
      window.images = {
        home2: "<%= image_url('home2.png') %>",
        home3: "<%= image_url('home3.png') %>",
        home4: "<%= image_url('home4.png') %>",
        home5: "<%= image_url('home5.png') %>",
        page1: "<%= image_url('page1.png') %>",
        page2: "<%= image_url('page2.png') %>",
        page3: "<%= image_url('page3.png') %>",
        show1: "<%= image_url('show1.png') %>",
        bulb: "<%= image_url('bulb.png') %>",
        profile: "<%= image_url('profile.png') %>"
      }
    </script>

  <link href="https://fonts.googleapis.com/css?family=Krub:400,500,700|Open+Sans|Roboto:300,400,500,700|Noto+Sans" rel="stylesheet">  </head>

  <body>
    <%= yield %>
  </body>
</html>
